---
// i18n
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getI18N } from '../i18n/'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const locale = currentLocale || 'es'
const getIndexURL = getRelativeLocaleUrl(locale, '/')
---

<a href={getIndexURL}>{i18n["GO_HOME_PAGE"]}</a>

<style>
  a {
    color: white;
    text-decoration: underline 3px;
    font-size: 20px;
    font-family: 'Montserrat Variable', sans-serif;

    position: absolute;
    top: 40px;
    left: 40px;
  }
</style>