---
import '@fontsource-variable/montserrat'
import '@fontsource-variable/source-code-pro'
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="keywords" content={keywords}>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		background-color: black;
	}
</style>
